<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
              http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
              http://www.springframework.org/schema/context
              http://www.springframework.org/schema/context/spring-context-3.1.xsd
              http://www.springframework.org/schema/tx
              http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
			  http:/www.springframework.org/schema/task 
			  http:/www.springframework.org/schema/task/spring-task-3.1.xsd">


	<context:annotation-config />
	<tx:annotation-driven />


	<bean id="persistenceUnitManager"
		class="org.springframework.orm.jpa.persistenceunit.DefaultPersistenceUnitManager">
		<property name="persistenceXmlLocation">
			<value>classpath*:/META-INF/persistence.xml</value>
		</property>
	</bean>

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean"
		lazy-init="true">
		<property name="persistenceUnitName" value="gae" />
	</bean>

	<bean name="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
	<context:component-scan base-package="ro.cvasii.quizapp.service" />
	<context:component-scan base-package="ro.cvasii.quizapp.dao" />
	<context:component-scan base-package="ro.cvasii.quizapp.domain" />
	<context:component-scan base-package="ro.cvasii.quizapp.util" />
	<context:component-scan base-package="ro.cvasii.quizapp.transformation" />
</beans>